/*
///////////////////
General settings
*/
@import url('https://fonts.googleapis.com/css?family=Cabin|Cormorant');
h1, h2, h3 {
 font-family: 'Cormorant', serif;
 color: #342624;
font-size: 2rem;
     text-align: center;
}

h1{
    text-transform: uppercase;
}

*{box-sizing:border-box;}
body{
    font-family: 'Cabin', sans-serif;
    font-size:1rem;
    margin-left:2rem;
    margin-right:2rem;
    
}

.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

main{
    font-size: 1rem;
}


/*
///////////////
NAVIGATION
/////////////
*/

header {
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: #b47c63;
  opacity: 1;
  /*overflow-y: auto;*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 94px;
  padding-top: 8px;
  padding-left:2rem;
} 

nav {
    position: relative;
    float:right;
    font-size:1rem;
    
}

nav ul{
    list-style: none;
    padding-left:2em;
    margin:0;
}

nav a{
    color:white;
    text-decoration: none;
    width:6em;
    display: block;
}

nav a:link{
    color: white;
}
nav a:visited{
    color: white;
}
nav a:hover{
    color: #715240;
    transition: all 1s;
}
nav a:active{
    color: darkblue;
}



/* pseudo elements --> advanced! */

main img{
    width: 100%;
    height: auto;
}

main {
    margin-top: 110px;} 

.menu {

    font-weight: bold;
    text-transform: uppercase;   
}

figcaption{
    font-size: 0.8em;
    text-align: center;
}
footer{
    text-align: center
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

@media only screen and (min-width: 60em){
      
header {
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: #b47c63;
  opacity: 1;
  /*overflow-y: auto;*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 94px;
  padding-top: 8px;
  padding-left:2rem;
}   
    
main{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 2em;
        }
    
.index{
        grid-column: 4/-1;
        
    }
    
.imgindex{
        grid-column: 1/4;
        padding-top: 2em;
    }

.aboutme{
        grid-column: 2/6;
    }
    

div.firsthalf{
        grid-column: 1/4;      
    }
    
div.secondhalf{
        grid-column: 4/-1;
    }
    
.firsthalf{
        grid-column: 1/4;      
    }
.secondhalf{
        grid-column: 4/-1;
    }

.full{
       grid-column:1/-1; 
    } 
    
    
.weiwei img{
        width:68%; 
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

